<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tabs/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Publicar transformacion</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

  <ion-list lines="full">

    <ion-item *ngIf="publicacion">
      <ion-input required type="text" placeholder="nombre" [(ngModel)]="publicacion.nombre"></ion-input>
    </ion-item>

    <ion-item *ngIf="publicacion">
      <ion-input required type="text" placeholder="descripcion" [(ngModel)]="publicacion.descripcion"></ion-input>
    </ion-item>
    <br />
    <ion-item>
      <ion-input type="file" (change)="subirArchivo($event)"></ion-input>
      <div>{{ uploadPercent | async }}</div>
      <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
    </ion-item>

    <br />

    <ion-item>
      <ion-input type="file" (change)="subirArchivo($event)"></ion-input>
      <p>{{ uploadPercent | async }}</p>
      <!-- <a [href]="downloadURL | async">{{ downloadURL | async }}</a> -->
    </ion-item>

    <!--     <ion-card *ngIf="!!src">
      <ion-card-header>
        <img [src]="downloadURL | async" alt="" srcset="">
      </ion-card-header>
    </ion-card> -->

    <ion-item *ngIf="publicacion">
      <ion-input required type="hidden" placeholder="imagen" [(ngModel)]="publicacion.imagen"
        value="{{ downloadURL | async }}"></ion-input>
    </ion-item>

  </ion-list>

  <!-- BOTON DE GUARDAR-->
  <ion-button expand="full" (click)="savePublicacion()">Guardar</ion-button>

  <!-- BOTON FLOTANTE PARA BORRAR-->
  <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="danger">
    <ion-fab-button color="danger" routerLink="/" routerDirection="forward" (click)="onRemove(publicacionId)">
      <ion-icon name="trash"></ion-icon>
    </ion-fab-button>
  </ion-fab>



</ion-content>