<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title lines="inset">
      <ion-icon name="leaf"></ion-icon>
      todavía<strong>sirve</strong>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-label stacked> Chanel Id</ion-label>
  <ion-input type="text" [(ngModel)]="chanelId"></ion-input> -->
    <ion-searchbar showcancelbutton="" (ionInput)="filterList($event)"></ion-searchbar>
    <ion-fab-button round block (click)="watch('zutXWIRnOV8&t=383s')">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
    <ion-list>
      <ion-item-sliding *ngFor="let publicacion of goalList">
  
        <ion-item lines="inset" button [routerLink]="['/publicacion',publicacion.id]">
          <ion-thumbnail slot="start">
            <img src="http://lorempixel.com/200/200/cats">
          </ion-thumbnail>
          <ion-label>
            {{publicacion.nombre}}
            <p>{{publicacion.descripcion}}</p>
          </ion-label>
        </ion-item>
      </ion-item-sliding>
    </ion-list>
   <!-- Cambiar la logica para que cargue los resultados recien al teclear -->
</ion-content>